<h1>予算執行情報登録</h1>
<%= form_with model: @outgo, url: income_outgoes_path do |form| %>
    <%= render partial: "/layouts/error_messages", locals:{model: form.object} %>
    <%= form.hidden_field :income_id, value: @income.id %> <br>
    年度<br>
    <%= form.text_field :year %> <br>
    金額 <br>
    <%= form.text_field :price %> <br>
    備考 <br>
    <%= form.text_field :memo %> <br>
    <%= form.submit "登録" %>
<% end %>