<h1>予算情報詳細</h1>
<div>
    <b>
        (
        R<%= @income.district.year %> 
        <%= @income.district.name %>地区
         <%= @income.district.office %>事務所
        )
    </b>
</div>
<br>
<%= link_to new_income_outgo_path(@income) do %>
    <i class="fa-solid fa-plus"></i>
<% end %>
(予算執行情報登録)
<br>
<br>
<table class= "table table-bordered w-auto text-center">
    <tr>
        <th></th>
        <th>年度</th>
        <th>予算種別</th>
        <th>
            金額<br>
            (円)
        </th>
        <th>備考</th>
        <td colspan = "2"></td>
    </tr>
    <tr>
        <td class="text-start">予算額</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>R<%= @income.year %></td>
        <td><%= @income.category %></td>
        <td class="text-end"><%= @income.price.to_fs(:delimited) %></td>
        <td><%= @income.memo %></td>
        <td>
            <%= link_to edit_income_path(@income) do %>
                <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
        </td>
        <td></td>
    </tr>
    <% if @outgoes.present? %>
        <tr>
            <td class"text-start">執行額</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    <% end %>
    <% @outgoes.each do |outgo| %>
        <tr>
            <td></td>
            <td>R<%= outgo.year %></td>
            <td></td>
            <td class="text-end"><%= outgo.price.to_fs(:delimited) %></td>
            <td><%= outgo.memo %></td>
            <td>
                <%= link_to edit_income_outgo_path(@income.id, outgo.id) do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
            </td>
            <td>
                <%= link_to income_outgo_path(@income.id, outgo.id), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか?"} do %>
                    <i class="fa-solid fa-trash"></i>
                <% end %>
            </td>
        </tr>        
    <% end %>
    <tr>
        <td class="text-start">残額</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-end"><%= @total.to_fs(:delimited) %></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table><br>
<%= link_to district_path(@income.district) do %>
    <i class="fa-solid fa-left-long"></i>
<% end %>
(戻る)