<h1>地区一覧</h1>
<% if @districts.present? %>
    (地区検索)
    <%= form_with url: search_path, method: :get do |form| %>
        <%= form.select :category, ["地区名", "年度", "事務所名"] %>
        <%= form.text_field :inputword, class: "form-controll" %>
        <%= button_tag type: "submit", class: "btn btn-primary" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
    <% end %>
<% end %>
<br>
<%= link_to new_district_path do %>
    <i class="fa-solid fa-plus"></i>
<% end %> 
(地区登録)<br><br>
<div id="map_index"></div>
<%= render partial: 'list', locals: {districts: @districts} %>
<%= javascript_include_tag 'map_index' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>