<h1>district list</h1>
<% if @districts.present? %>
    <%= form_with url: search_path, method: :get do |form| %>
        <%= form.select :category, ["name", "year", "office"] %>
        <%= form.text_field :inputword %>
        <%= form.submit "search" %>
    <% end %>
<% end %>
<br>
<% @districts.each do |district| %>
    <%= district.name %>
    R<%= district.year %>
    <%= district.office %>
    <%= link_to "[detail]", district_path(district) %>
    <%= link_to "[edit]", edit_district_path(district) %>
    <%= link_to "[delete]", district_path(district), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <br>
<% end %>
<br>
<%= link_to "add district", new_district_path %> <br>
<%= link_to "return", root_path %>