<h1>地区情報詳細</h1>
<div>
    <b>
        (
        R<%= @district.year %> 
        <%= @district.name %>地区
         <%= @district.office %>事務所
        )
    </b>
</div><br>
<div class="imgmaparea">
    <div id="map" style="width: 300px; height: 150px;"></div>
    <% if @district.image.attached? %>
        <%= image_tag @district.image, size: "150x150" %>
    <% end %>
</div><br>
<%= link_to new_income_path do %>
    <i class="fa-solid fa-plus"></i>
<% end %>
(予算登録)
<br>
<br>
<table>
    <% if @incomes.present? %>
        <tr>
            <th>年度</th>
            <th>予算種別</th>
            <th>備考</th>
            <th colspan = "2"></th>
        </tr>
    <% end %>
    <% @incomes.each do |income| %>
        <tr>
            <td>R<%= income.year %></td>
            <td><%= income.category %></td>
            <td><%= income.memo %></td>
            <td>
                <%= link_to income_path(income) do %>
                    <i class="fa-solid fa-circle-info"></i> 
                <% end %>
            </td>
            <td>
                <%= link_to income_path(income), data:{turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} do %>
                    <i class="fa-solid fa-trash"></i>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
<script>
    let map
    let marker
    let dbLat
    let dbLng
    function initMap(){
        dbLat = gon.latitude;
        dbLng = gon.longitude;
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: dbLat, lng: dbLng},
            zoom: 12,
        });
        marker = new google.maps.Marker({
            position: {lat: dbLat, lng: dbLng},
            map: map,
        });
    };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>