<h1><%=link_to "#{@district.name} district 's income (R#{@district.year} #{@district.office} office)", edit_district_path(@district) %></h1>
<table>
    <% if @incomes.present? %>
        <tr>
            <th>year</th>
            <th>category</th>
            <th>memo</th>
            <th></th>
            <th></th>
        </tr>
    <% end %>
    <% @incomes.each do |income| %>
        <tr>
            <td><%= "R#{income.year}" %></td>
            <td><%= income.category %></td>
            <td><%= income.memo %></td>
            <td><%= link_to "[detail]", income_path(income) %></td>
            <td><%= link_to "[delete]", income_path(income), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
        </tr>
    <% end %>
</table>
<%= link_to "add income", new_income_path %> <br>
<%= link_to "district list", root_path %>
